* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.mainWrapper {
  display: flex;
  width: 100%;
  position: relative;
  background-color: var(--default-light);
}
.userAccountMenu-wrapper {
  width: 244px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  font-size: 16px;
  background-color: white;
}
.userAccount-nav {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  flex-direction: column;
}
.userAccount-nav-logo {
  margin-bottom: 26px;
}
.userAccount-navItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  text-decoration: none;
  color: var(--primary-grey);
  transition: all 0.2s ease;
  border-radius: 6px;
  background-color: transparent;
}
.userAccount-navItem:hover {
  background-color: var(--primary-lightest);
}
.userAccountContent-wrapper {
  padding-left: 244px;
  width: 100%;
}
.userAccountContent-body {
  padding: 24px 40px;
}
/* USER ACCOUNT HEADER */
.userAccountContent-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.userAccountContent-blockName {
  min-width: max-content;
  font-size: 32px;
}
.userAccountContent-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 12px;
}

.userAccountContent-header-search {
  height: 56px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  border: 1px solid var(--primary-lightest);
  padding: 18px 16px;
  border-radius: var(--default-borderRadius);
}
.userAccountContent-header-search:focus {
  border-color: var(--primary-black);
}
.userAccountContent-header-search input,
button {
  color: var(--primary-black);
  border: 0;
  background-color: transparent;
}
.userAccountContent-header-search input[type="text"] {
  height: 56px;
  font-size: 16px;
  line-height: 1;
  width: 100%;
  transition: all 0.2s ease;
}
.userAccountContent-header-search input[type="text"]:focus {
  outline: none;
}

.userAccountContent-header-search input[type="text"]::placeholder {
  color: var(--primary-lightest);
}

.userAccountContent-header-search button {
  position: relative;
  display: block;
  width: fit-content;
  height: 56px;
  cursor: pointer;
}

.userAccountContent-header-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: fit-content;
  padding: 12px;
  font-size: 24px;
  background-color: white;
  border-radius: var(--default-borderRadius);
  transition: var(--default-hover);
}
.userAccountContent-header-button:hover {
  background-color: var(--primary-lightest);
}
.userAccountContent-header-button span {
  font-size: 14px;
}
.userAccount-profileButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  transition: var(--default-hover);
}
.userAccount-profileButton:hover {
  background-color: var(--primary-lightest);
}

.userAccount-pageTopNav {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* EMPTY PAGE */

.userAccount-emptyProductList {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.emptyList-profile {
  display: flex;
  align-items: center;
  background: white;
  padding: 24px;
  gap: 32px;
  width: 100%;
}
.emptyList-profileInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 450px;
}
.profileAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 40px;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--primary-lightest);
}
.profileName {
  display: flex;
  flex-direction: column;
}
.profileName h3 {
  font-size: 32px;
  line-height: 42px;
}
.profileName p {
  font-size: 16px;
  color: var(--primary-lightgrey);
}
.emptyList-helperBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 370px;
  border: 1px solid var(--primary-lightest);
  position: relative;
}
.emptyList-helperBox h4 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}
.emptyList-helperBox p {
  font-size: 14px;
  margin-bottom: 8px;
}
.helperBox-helpButton {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.emptyList-profileBalance {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  width: 172px;
  height: 72px;
  background-color: #F7F8FA;
  border-radius: 8px;
}
.emptyList-profileBalance img {
  width: 40px;
}
.emptyList-profileBalance p {
  font-size: 32px;
}
.emptyList-profileBalance p span {
  font-size: 16px;
}
.emptyList-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 64px;
}
.emptyList-BannerText {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 4px;
  width: 100%;
  max-width: 490px;
  margin-bottom: 32px;
}
.emptyList-BannerText h3 {
  font-weight: 500;
  font-size: 28px;
}
.emptyList-BannerText p {
  color: var(--primary-lightgrey);
  font-size: 18px;
}
/* PRODUCT ITEM */
